*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* ---------------------------------Header------------------------------------------------- */
.header{
    width: 90%;
    height: 80px;
    border-radius: 50px;
    position: fixed;
    z-index: 10;
    top: 25px;
    left: 5%;
    background-color: #ffffffed;
}
.header-list{
    float: right;
    margin: -25px 80px 0px 0px;
    position: relative;
}
.header-list li{
    display: inline-block;
    margin: 0px 10px 0px 10px;
}
.header-list li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    top: -5px;
    letter-spacing: 1;
    font: normal 600 13px "Montserrat Alternates", sans-serif;
    transition: 0.5s;
}
.header-list li a:hover{
    top: -8px;
    font-size: 14.5px;
    font-weight: 700;
    transition: 0.7s;
}

.header-search , body{
    position: relative;
}
.header-search input{
    border-radius: 15px;
    width: 280px;
    height: 30px;
    margin-top: 25px;
    margin-left: 20px;
    text-align: center;
    outline-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(30, 30, 30);
    letter-spacing: 1.5;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    border: 1px solid #c6c6c6;
    transition: 0.5s;
}
.header-search .searchIcon{
    position: absolute;
    z-index: 1;
    margin-left: 18px;
    margin-top: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(220, 114, 0);
    padding: 8px 25px 8px 10px;
    border-radius: 35px
}
::placeholder{
    color: rgb(174, 174, 174);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
}
.header .homeIcon{
    font: italic 900 35px "Indie Flower",cursive;
    margin-right: 5px;
    position: relative;
    top: 5px;
    color: rgb(193, 99, 0);
}
.header .homeIcon:hover{
    color: rgb(122, 71, 0);
    transition: 0.5s;
}
.header-search input:focus{
    width: 420px;
    transition: 0.5s;
}
.pricing-list {
    width: 190px;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.548);
    position: absolute;
    margin: 20px 0 0 -15px;
    padding: 10px 5px 0 5px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transform: translate(120px,-60px);
    transition: 0.4s;
}

.pricing-list li {
    margin: 15px 10px;
}
.pricing-list li a {
    color: rgb(255, 255, 255);
}
.dropdown-list:hover .pricing-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
}
.pricing-list li a::after, .header-list li a::after{
    content: "";
    width: 0;
    height: 2.5px;
    position: absolute;
    background-color: #da8e00;
    left: 0;
    top: 25px;
    opacity: 0;
}
.pricing-list li a:hover::after , .header-list li a:hover::after{
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}

/* global style */
p::selection , h1::selection, h2::selection, h3::selection ,li::selection , span::selection , button::selection{
    background-color: rgba(254, 131, 0, 0.523);
}
.iconGit, .iconX{
    color: black;
}
.iconLink{
    color: rgb(33, 99, 156);
}
.iconFace{
    color: blue;
}
button:hover{
    cursor: pointer;
}
h2{
    font-family: "Revalia", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #c4a759;
}

/* ---------------------------------home-section------------------------------------------------- */
.home-section{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../assets/home-back2.jpg);
}
.home-overlay{
    background-color: rgba(0, 0, 0, 0.096);
    position: absolute;
    height: 100%;
    width: 100%;   
}
.home{
    width: 65%;
    text-align: center;
    color: #f5f0e8;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.home-title{
    color: rgba(255, 255, 255, 0.915);
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.home-para{
    letter-spacing: 2;
    font-size: 17px;
    color: rgb(48, 34, 9);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.home button{
    width: 180px;
    height: 55px;
    border-radius: 15px;
    border: none;
    margin: 25px 5px;
    font: normal 600 18px "Montserrat Alternates", sans-serif;
    cursor: pointer;
    transition: 0.5s;
}
.home .btn-explore{
    background-color:#da7800;
    color: rgb(244, 244, 244);
}
.home button:hover{
    opacity: 0.8;
    width: 182px;
    height: 57px;
    font-size: 18px;
    transform: translate(0,-3px);
    transition: 0.7s;
}

/* ---------------------------------about-section------------------------------------------------- */
.about-section{
    width: 100%;
    height: 100vh;
    padding: 80px;
    background-color: #ffffff;
}
.heading{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
}
.line{
    display: block;
    margin: 12px auto;
    width: 160px;
    height: 4px;
    background-color: #da8e00;
}
.about-info-container{
    width: 100%;
    margin: 80px auto;
    overflow: auto;
}
.about-info{
    width: 25%;
    border-radius: 10px;
    float: left;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 173, 50, 0.081);
}
.about-info::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffffff;
    border-radius: 10px;
    z-index: -1;
    transition: 0.5s;
}
.about-info:hover::before{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.about-info h3 , .about-info i{
    padding-top: 25px;
    font-size: 25px;
    transition: 0.7s;
}
.about-info:hover h3{
    color: black;
}
.about-info:hover p{
    color: rgb(99, 53, 0);
}
.about-info:hover i , .about-info:hover a{
    color: rgb(231, 120, 1);
}
.about-info:hover i{
    font-size: 60px;
    transition: 1.2s;

}
.about-info i{
    color: rgb(227, 160, 34);
    font-size: 40px;
}
.about-info h3{
    color:#4b4b4b
}
.about-info p{
    color: rgb(102 ,102 ,102);
    padding-top: 20px;
    letter-spacing: 1.2;
}
.about-info a{
    line-height: 60px;
    text-decoration: none;
    color: rgb(227, 160, 34);
}
.about-info a:hover{
    text-decoration: underline;
}
.about-info-container .card1 , .about-info-container .card2{
    margin-right: 10%;
}
.about-info-container .card1{
    margin-left: 2.5%;
}

/* ---------------------------------featured-section------------------------------------------------- */
.featured-works-section{
    width: 100%;
    height: 100vh;
}
.featured-works-container{
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color: rgba(255, 173, 50, 0.081);
}
.container-one , .container-two{
    width: 100%;
    margin: 2% auto;
    overflow: auto;
    text-align: center;
}
.container-one{
    margin-top: 55px;
}
.featured-blocks{
    width: 23%;
    height: 240px;
    border-radius: 10px;
    float: left;
    color: aliceblue;
    position: relative;
}
.container-one .block1 , .container-one  .block2 , .container-two .block4 , .container-two  .block5{
    margin-right: 2.5%;
}
.container-one  .block1 , .container-two  .block4{
    margin-left: 13%;
}
.featured-blocks h3{ 
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 30px;
    color: rgba(255, 238, 200, 0.85);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 900;
}
.featured-blocks p{
    font-size: 14px;
    margin: 30px 0;
    color: rgb(255, 255, 255);
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: italic;
}
.featured-blocks i{
    font-size: 28px;
    color: rgb(40, 40, 40);
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 10px;
    padding-top: 4px;
    text-align: center;
    width: 50px;
    height: 35px;
}
.featured-blocks i:hover{
    background-color: red;
    color: #ffffff;
    transition: 0.7s;
}
.featured-blocks .blocks-overlay{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 1.2s;
}
.featured-blocks:hover .blocks-overlay{
    opacity: 1;
    transition: 1s;
}
.container-one .block1{
    background-image: url(../assets/modernRoom.png);
}
.container-one .block2{
    background-image: url(../assets/cozyBedroom.png);
}
.container-one .block3{
    background-image: url(../assets/luxuryKitchen.png);
}
.container-two .block4{
    background-image: url(../assets/smartLighting2.png);
}
.container-two .block5{
    background-image: url(../assets/office.png);
}
.container-two .block6{
    background-image: url(../assets/Furniture.png);
}

/* ---------------------------------services-section------------------------------------------------- */
.services-section{
    width: 100%;
    height: 100vh;
}
.services-container{
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color:#ffffff;
}
.services-parent{
    width: 100%;
    height: 100%;
}
.services-blocks{
    width: 23%;
    height: 240px;
    border-radius: 10px;
    float: left;
    margin: 30px 50px;
    padding: 30px 40px 0 50px;
    position: relative;
    background-color: rgba(255, 173, 50, 0.081);
    z-index: 1; 
}
.services-parent .block1 , .services-parent .block4{
    margin-left: 9.5%;
}
.services-blocks::before{
    content: "";
    width: 0;
    height: 25%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: #ffffff;
    z-index: -1;
    transition: 0.5s;
}
.services-blocks:hover::before{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.services-blocks h3{
    color:#4b4b4b;
    font-size: 28px;
}
.services-blocks i{
    font-size: 29px;
    font-weight: 900;
    position: absolute;
    z-index: 1;
    margin-left: -43;
    margin-top: 2.5;
    color: rgb(227, 160, 34);
}
.services-blocks p{
    font-size: 15.5px;
    margin-top: 15px;
    line-height: 1.3;
    letter-spacing: 1.3;
    color: rgb(102, 102, 102);
}
.services-blocks:hover h3 {
    color: black;
}
.services-blocks:hover i{
    color: rgb(231, 120, 1);
    font-size: 30px;
    transition: 1.7s;
}
.services-blocks:hover p{
    color: rgb(99, 53, 0);
}

/* ---------------------------------special-section------------------------------------------------- */
.special-section{
    width: 100%;
    height: 100vh;
}
.special-container{
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color: #ffffff;
}
.special-parent{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.special-line{
    margin-left: 5;
    width: 145px;
}
.special-advantages , .special-image-div{
    width: 60%;
    height: 100%;
    float: left; 
}
.special-image-div{
    width: 40%;
}
.special-advantages{
    padding-left: 120px;
    letter-spacing: 1.2;
}
.special-advantages h2{
    font-size: 50px;
    padding-top: 80px;
}
.special-advantages p{
    color: rgba(75, 53, 14, 0.745);
    padding-top: 40px;
    line-height: 1.3;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
}
.special-advantages ul li{
    padding-top: 35px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 15px;
    color: rgba(75, 53, 14, 0.732);;
}
.special-advantages ul li i{
    color: rgb(255, 166, 0);
}
.special-image-div{
    position: relative;
}
.special-image{
    position: absolute;
    width: 60%;
    height: 75%;
    margin: 30px 110px;
    border-radius: 10px;
    background-image: url(../assets/special.jpg);
    transition: 1s;
}
.sweeper-dot{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 590px;
    background-color: rgb(194, 194, 194);
}
.img-sweeper-current{
    margin-left: 300px;
    background-color: rgb(231, 120, 1)
}
.sweeper-dot:hover{
    background-color: rgb(231, 120, 1);
    cursor: pointer;
}
.img2 , .img3{
    visibility: hidden;
    opacity: 0;
}
.img2{
    background-image: url(../assets/special2.png);
} 
.img3{
    background-image: url(../assets/special3.png); 
}
.img2-hover:hover ~ .img2 , .img3-hover:hover ~ .img3{
    visibility: visible;
    transition: 1s;
    opacity: 1;
}


/* ---------------------------------achievement-section------------------------------------------------- */
.achievement-section{
    width: 100%;
    height: 400px;
}
.achievement-container{
    height: 100%;
    width: 100%;
    padding: 40px;   
    background-image: url(../assets/fetBack.png);
    background-attachment: fixed;
    position: relative;
}
.achievement-parent{
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
    position: relative;
}
.achievement-overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.226);
}
.achievement-elements li{
    float: left;
    margin: 7.5% 120px;
    list-style: none;
    color: rgb(255, 255, 255);
}
.achievement-elements .li-one{
    margin-left: 12%;
}
.achievement-elements i{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 10px;
    color: rgb(236, 130, 0);
    transition: 0.2s;
}
.achievement-elements li:hover i{
    color: rgb(0, 0, 0);
    font-size: 48px;
    transition: 0.5s;
}

/* ---------------------------------pricing-section------------------------------------------------- */
.pricing-section{
    width: 100%;
    height: 115vh;
}
.pricing-container{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}
.pricing-parent{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.pricing-heading{
    padding-top: 140px;
}
.pricing-blocks{
    width: 21%;
    height: 50%;
    border-radius: 35px 0 35px 0;
    float: left;
    margin: 50px 35px;
    text-align: center;
    padding-top: 40px;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 173, 50, 0.081);
}
.pricing-parent .block1{
    margin-left: 15%;
}
.pricing-blocks::before{
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 35px 0 35px 0;
    background-color: rgba(255, 173, 50, 0.322);
    transition: 0.7s;
    z-index: -1;
}
.pricing-blocks:hover::before {
    height: 100%;
    transition: 0.7s;
}
.pricing-blocks h3{
    font-size: 22px;
    color: black;
    text-transform: uppercase;
}
.pricing-text-list li{
    list-style: none;
    font-size: 18px;
    line-height: 2.6;
    color: rgb(102, 102, 102);
}
.pricing-blocks:hover .pricing-text-list li{
    color: rgb(99, 53, 0);
}
.price-circle{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.489);
    color: rgb(86, 39, 0);
    margin: 20px auto;   
    padding: 25px 5px 0 0;
}
.price-circle h1{
    font-size: 38px;
}
.price-circle p{
    color: rgb(0, 0, 0);
}
.pricing-btn{
    width: 200px;
    height: 38px;
    border-radius: 8px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    transition: 0.1s;
    background-color: rgb(255, 146, 30);
    color: #ffffff;
}
.pricing-blocks:hover .pricing-btn ,.pricing-blocks:hover .price-circle{
    background-color: rgb(203, 101, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;
    border: none;
}
.pricing-btn:active{
    width: 190px;
    height: 35px;
    font-size: 14.5px;
}

/* ---------------------------------team-section------------------------------------------------- */
.team-section{
    width: 100%;
    height: 450px;
}
.team-container{
    height: 100%;
    width: 100%;
    padding: 40px;   
    background-image: url(../assets/teBack.png);
    background-attachment: fixed;
    position: relative;
}
.team-parent{
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;
    position: relative;
}
.team-overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.11);
}
.team-member{
    width: 30%;
    height: 100%;
    float: left;
    text-align: left;
    margin-right: 5px;
    padding-top: 100px;
    position: relative;
    color: rgb(75, 53, 14);
}
.profile-pic{
    background-image: url(../assets/sen.png);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    margin-top: -20;   
    transition: 0.5s;
}
.team-member:hover .profile-pic{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: -50px 0 0 -30px;
    transition: 1s;
}
.team-member h2, .team-member span{
    margin: -10 0 0 120px;
    line-height: 1.8;
    color: rgb(75, 53, 14);
}
.team-member h2{
    color: rgb(0, 0, 0);
}
.team-member p{
    margin-top: 40px;
    line-height: 1.5;
    text-transform: capitalize;
}
.member1{
    margin-left: 20%;
}
.member2 .profile-pic{
    background-image: url(../assets/exp.png);
}

/* ---------------------------------core-team-section------------------------------------------------- */
.core-team-section{
    width: 100%;
    height: 100vh;
}
.core-team-container{
    height: 100%;
    width: 100%;
    padding: 120px;
    background-color: rgb(255, 255, 255);
}
.core-team-parent{
    width: 100%;
    height: 100%;
    position: relative;
}
.members-container{
    overflow: auto;
    width: 100%;
    margin: 60px auto;
}
.core-team-member{
    width: 28%;
    height: 360px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #7e7e7e;
    float: left;
    margin-left: 0;
    padding: 20px 30px;
    line-height: 2;
    position: relative;
    transition: 1s;
}
.core-team-member::after{
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.152);
    z-index: 1;
    border-radius: 10px;
    transition: 1s;

}
.core-team-member:hover::after{
    height: 100%;
    transition: 0.8s;
}
.core-team-member:hover{
    height: 400px;
    background-color: black;
    color: white;
    transition: 1.5s;
    border: none;
}
.core-team-member:hover h2 , .core-team-member:hover span{
    color: rgb(222, 222, 222);
    transition: 1.5s;
}
.members-container .member1{
    margin-left: 3%;
}
.members-container .member2{
    margin: 0 5%;
}
.member-info h2{
    font-weight: 900;
    font-size: 21px;
    color: rgb(0, 0, 0);
}
.member-info span{
    font-size: 17px;
    color: rgb(75, 53, 14);
}
.team-member-profile{
    width: 90%;
    height: 250px;
    margin: 0 auto;
    background-color: bisque;
    position: relative;
    border-radius: 10px;
}
.team-member-profile img{
    width: 100%;
    height: 100%;
    border-radius: 10px; 
}
.profile-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.255);
    opacity: 0;
    transition: 1s;
}
.core-team-member:hover .profile-overlay{
    opacity: 1;
    transition: 2s;
}
.profile-overlay a{
    display: block;
    width: 40px;
    height: 40px;
    background-color: antiquewhite;
    margin-left: auto;
}
.profile-overlay a i{
    font-size: 25px;
    line-height: 40px;
}
.members-container:hover .member1 , .members-container:hover .member2 , .members-container:hover .member3 {   
    opacity: 0.2;
}
.members-container .member1:hover , .members-container .member2:hover , .members-container .member3:hover {
    opacity: 1; 
}

/* ---------------------------------latest-news-section------------------------------------------------- */
.latest-news-section{
    width: 100%;
    height: 100vh;
}
.latest-news-container{
    height: 100%;
    width: 100%;
    padding: 120px;
    background-color: rgb(255, 255, 255);
}
.latest-news-parent{
    width: 100%;
    height: 100%;
}
.latest-heading{
    margin-top: -120;
}
.cards-container{
    overflow: auto;
    width: 100%;
    margin: 50px auto;
}
.news-cards{
    width: 28%;
    text-align: center;
    border-radius: 10px;
    float: left;
    margin-left: 0;
    padding: 20px 30px;
    color: rgb(75, 53, 14);
    position: relative;
    z-index: 1; 
}
.news-cards:hover a{
    color: rgb(231, 120, 1);
}
.news-cards::before{
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 173, 50, 0.282);
    border-radius: 10px;
    z-index: -1;
    transition: 0.7s;
}
.news-cards:hover::before{
    height: 100%;
    transition: 0.7s;
}
.cards-container .card1{
    margin-left: 3%;
}
.cards-container .card2{
    margin: 0 5%;
}
.cards-profile-pic{
    width: 80%;
    height: 280px;
    border-radius: 10px;
    margin: auto;
}
.cards-social{
    margin: 25px;
}
.cards-social a i{
    font-size: 23px;  
}
.cards-social span{
    font-size: 17px;
    margin-right: 5px;
    position: relative;
    top: -3px;
    color: rgba(0, 0, 0, 0.832);
}
.cards-info h3{
     padding-bottom: 20px;
     color: #4b4b4b;
}
.cards-info p{
     color: rgb(102, 102, 102);
     letter-spacing: 1.2;
     margin-bottom: 30px;
}
.cards-info a{
    text-decoration: none;
    color: rgb(180, 121, 12);
}
.news-cards a:hover{
    text-decoration: underline;
}
.news-cards:hover h3{
    color: black;
}
.news-cards:hover p{
    color: rgb(110, 59, 0);
}
.card1 .cards-profile-pic{
    background-image: url(../assets/news1.png);
}
.card2 .cards-profile-pic{
    background-image: url(../assets/news2.png);
}
.card3 .cards-profile-pic{
    background-image: url(../assets/news3.png);
}

/* ---------------------------------footer-section------------------------------------------------- */
.footer-section{
    width: 100%;
    height: 380px;
}
.footer-container{
    height: 100%;
    width: 100%;
    padding: 120px;
    background-color: #d2d2d2b2
}
.footer-parent{
    width: 100%;
    height: 100%;
    position: relative;
}
.footer-img{
    width: 280px;
    height: 220px;
    background-color: aqua;
    background-image: url(../assets/footer.png);

    border-radius: 10px;
    margin: -100px auto;
}
.follow-us{
    position: absolute;
    left:685px;
    top: 240px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.footer-socials{
    overflow: auto;
    padding-top: 10px;
    margin-top: 140px;
    margin-left: 25px;
}
.footer-socials .social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.703);
    padding-top: 10px;
    font-size: 30px;
    float: left;
    margin-right: 5px;
    transition: 0.4s;
}
.footer-socials .icon-one{
    margin-left: 535px;
}
.social-icon:hover{
    background-color: rgb(0, 0, 0);
    margin-top: -10px;
    transition: 0.5s;
}
.copy-right{
    margin-top: 65px;
    margin-left: 525px;
    text-transform: uppercase;
    text-decoration:none;
    font-size: 12px;
    color: rgb(0, 0, 0);
}
.footer-socials a i{
    color: #ffffff
}
